.about-page{
  height:100%;
}
.about-heading{
  padding-bottom: var(--r32);
}
.about_content-wrapper{
  max-width:768px;
}

@media (max-width:768px){
  .about_content-wrapper{
    max-width:100%;
  }
}
