.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--accent);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, border, transform;
  pointer-events: none;
  z-index: 999;
}
.hovered {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: 2px solid var(--bg100);
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, border, transform;
  pointer-events: none;
  z-index: 999;
}
