.mastHead-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--r200);
}
.mastHead-section .line {
  transition: all 0.4s ease-in-out;
}
.mastHead-section .title {
  transition: all 0.4s ease-in-out;
}
.mastHead-section .title:hover {
  color: var(--accent);
}
.sub-title {
  letter-spacing: 1px;
  padding-top: var(--r120);
}
.separator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--r72) 0;
}
